.advantages {
  padding: 120px 0;

  @include vp-1365 {
    padding: 100px 0 99px;
  }

  @include vp-767 {
    padding: 70px 0 50px;
  }

  li,
  ul,
  p,
  b,
  span,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-family: $ff-alumnisans;
    font-weight: 600;
    font-size: 54px;
    line-height: 54px;
    letter-spacing: 1.62px;
    text-align: center;
    margin-bottom: 51px;

    @include vp-1365 {
      font-size: 42px;
      line-height: 42px;
      letter-spacing: 1.26px;
      margin-bottom: 49px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.96px;
      margin-bottom: 54px;
    }
  }

  h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: -7px;

    @include vp-1365 {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: -1px;
    }

    @include vp-767 {
      font-size: 18px;
      text-align: center;
    }
  }

  b {
    grid-row: span 2;
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    background: linear-gradient(128deg, #d10a42 0%, #0041ca 87.33%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
    user-select: none;

    span {
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: #2e35ac;
      -webkit-text-fill-color: currentColor;

      @include vp-1365 {
        margin-top: 1px;
      }

      @include vp-767 {
        line-height: 20px;
        text-align: center;
      }
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 64px;
      line-height: 64px;
    }
  }

  .container {
    @include vp-767 {
      max-width: none;
      margin: 0;
      padding: 0;
    }
  }
}

.advantages__wrapper {
  list-style-type: none;
  display: grid;
  grid-template-columns: 10fr 7.06fr 10fr;
  column-gap: 60px;
  row-gap: 138px;
  padding: 0 60px;

  @include vp-1365 {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 40px;
    padding: 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
}

.advantages__item:first-child {
  order: 1;

  b {
    background: linear-gradient(142deg, #d10a42 0%, #0041ca 45.58%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content;
  column-gap: 30px;
  order: 3;

  @include vp-1365 {
    column-gap: 15px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0 15px;
    max-width: 550px;
  }

  &--bottom {
    @include vp-1366 {
      position: relative;
      transform: translateY(-11px);

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: rgba(209, 10, 66, 0.2);
        top: -58px;
      }
    }
  }
}

p {
  br {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  @include vp-767 {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    transform: translateY(1px);
  }
}

.advantages__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
  grid-row: span 2;
  background-color: $resolution-blue;
  color: $color-default-white;
  padding: 70px 30px 79px;
  margin-top: 4px;

  @include vp-1365 {
    width: 59%;
    order: 3;
    grid-row: span 1;
    grid-column: span 2;
    padding: 35px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100%;
    padding: 30px 30px 40px;
    margin: 5px 0;
  }

  b {
    text-align: center;
    color: $color-default-white;
    -webkit-text-fill-color: currentColor;
  }

  span {
    color: inherit;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    margin: 12px auto 34px;

    @include vp-1365 {
      font-size: 24px;
      line-height: 24px;
      margin: 25px auto;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
      margin: 5px auto 20px;
    }
  }

  p {
    text-align: center;
    font-weight: 400;

    @include vp-1365 {
      width: 210px;
    }

    @include vp-767 {
      width: 172px;
      font-weight: 300;
    }
  }
}
