.banner {
  display: flex;
  grid-row: span 2;

  @include vp-1365 {
    grid-row: span 1;
    grid-column: span 2;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.banner__text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: $torch-red;
  color: $color-default-white;
  padding: 45px;
  padding-top: 40px;
  padding-bottom: 38px;

  @include vp-1365 {
    width: 41%;
    padding-top: 46px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 300px;
    padding: 46px 20px 39px;
  }

  span {
    margin-bottom: 15px;

    @include vp-1365 {
      margin-bottom: 5px;
    }

    @include vp-767 {
      margin-bottom: 9px;
    }
  }

  b {
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 15px;

    @include vp-1365 {
      margin-bottom: 10px;
    }

    @include vp-767 {
      font-size: 64px;
      line-height: 64px;
      text-align: center;
    }
  }

  p {
    font-size: 18px;
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;

    @include vp-767 {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      transform: translateY(-1px);
    }
  }

  a::after {
    bottom: 7px;
  }
}

.banner__image {
  width: 50%;
  min-height: 100%;

  @include vp-1365 {
    width: 59%;
  }

  @include vp-767 {
    width: 100%;
  }

  img,
  picture {
    width: 100%;
    min-width: 280px;
    height: auto;

    @include vp-1365 {
      min-width: 399px;
    }

    @include vp-767 {
      min-width: 290px;
    }
  }
}
