.btn {
  display: block;
  color: $color-default-white;
  background-color: $color-transparent;
  padding: 27px 10px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  box-shadow: inset 0 0 0 2px $color-default-white;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.6px;
  transition: color $trans-default;
  cursor: pointer;

  @include vp-1365 {
    padding: 22px 0;
  }

  &--disabled,
  &:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }

  &:not(:disabled),
  &:not(.btn--disabled) {
    @include hover-focus {
      background-color: $color-default-white;
      color: $egyptian-blue;
      box-shadow: none;
    }

    @include active {
      background-color: $color-default-white;
      color: $sapphire;
      box-shadow: none;
    }
  }

  &--dark {
    background-color: $color-default-white;
    color: $sapphire;
    box-shadow: inset 0 0 0 2px $sapphire;

    &.btn--disabled,
    &:disabled {
      opacity: 0.3;
      cursor: default;
      pointer-events: none;
    }

    &:not(:disabled),
    &:not(.btn--disabled) {
      @include hover-focus {
        background: $red-blue-gradient;
        color: $color-default-white;
        box-shadow: none;
      }

      @include active {
        background: $red-blue-gradient;
        color: rgba($color-default-white, 0.7);
        box-shadow: none;
      }
    }
  }
}
