.card {
  position: relative;
  min-height: 211px;
  background: $bg-gradient;

  &::before {
    position: absolute;
    content: "";
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    background-color: $color-default-white;
    z-index: 1;
    top: 7px;
    left: 7px;
  }
}

.card__text-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  color: $resolution-blue;
  padding: 35px;
  padding-top: 30px;
  padding-bottom: 29px;

  @include vp-767 {
    padding: 46px;
    padding-bottom: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
