.contacts {
  padding: 60px 0;
  border-top: 1px solid #74819c;

  @include vp-1365 {
    border: none;
    padding: 100px 0 99px;
  }

  @include vp-767 {
    padding: 67px 0 70px;
  }
}

.contacts .container {
  max-width: 689px;
  margin-right: auto;
  margin-left: 0;
  padding-left: 120px;

  @include vp-1365 {
    max-width: 1000px;
    padding: 0 133px;
    margin: 0 auto;
  }

  @include vp-767 {
    max-width: 550px;
    padding: 0 15px;
  }
}

.contacts__title {
  font-family: $ff-alumnisans;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin-bottom: 40px;
  margin-top: 0;

  @include vp-1365 {
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: 1.26px;
    margin-bottom: 37px;
  }

  @include vp-767 {
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 38px;
  }
}

.contacts__address {
  position: relative;
  font-style: normal;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  row-gap: 14px;
  column-gap: 121px;

  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #74819c;
    top: 0;
    left: calc(50% - 10px);
  }

  @include vp-1365 {
    row-gap: 27px;
    column-gap: 120px;

    &::after {
      left: calc(50%);
    }
  }


  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 28px;

    &::after {
      display: none;
    }
  }
}

.contacts__group {
  margin: 0;
  padding: 0;
}

.contacts__name {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 6px;

  @include vp-1365 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 11px;
  }

  @include vp-767 {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 12px;
  }
}

.contacts__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  @include vp-767 {
    line-height: 20px;

    &--schedule {
      transform: translateX(-2px);
    }
  }
}

.contacts a {
  display: block;
  margin-top: 1px;
}
