.footer {
  background-color: $black-russian;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;

  @include vp-1365 {
    padding: 45px 0;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: start;
    padding: 30px 0 45px;
    transform: translateX(-5px);
  }
}

.footer__logo img {
  width: 109px;
  height: 24px;

  @include vp-1365 {
    width: 100px;
    height: 22px;
  }

  @include vp-767 {
    width: 100px;
    height: 15px;
  }
}

.footer__link {
  @include hover-focus {
    opacity: 0.7;
  }

  @include active {
    opacity: 0.4;
  }
}
