.gym {
  width: 100%;

  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 120px 103px 225px;

    @include vp-1365 {
      flex-direction: column;
      align-items: center;
      padding: 100px 45px;
    }

    @include vp-767 {
      max-width: none;
      padding: 70px 0;
      align-items: start;
    }
  }
}

.gym__content {
  width: 355px;

  @include vp-1365 {
    width: 502px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    width: 100%;
    max-width: 550px;
    padding: 0 15px;
    align-items: start;
    margin: 0 auto;
  }

  h2 {
    color: $sapphire;
    font-family: $ff-alumnisans;
    font-weight: 600;
    font-size: 54px;
    line-height: 54px;
    letter-spacing: 1.62px;
    margin: 0;
    margin-top: -5px;

    @include vp-1365 {
      font-size: 42px;
      line-height: 42px;
      letter-spacing: 1.26px;
      text-align: center;
      margin: 0;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.96px;
      text-align: left;
    }
  }

  h3 {
    color: $sapphire;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    margin: 31px 0 95px;

    @include vp-1365 {
      font-size: 20px;
      line-height: 20px;
      margin: 20px 0 36px;
      text-align: center;
    }

    @include vp-767 {
      font-size: 18px;
      margin: 13px 0 40px;
      text-align: left;
    }
  }

  p {
    margin: 0;
    margin-left: -2px;
    margin-top: -2px;

    @include vp-1365 {
      text-align: center;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;
      text-align: left;
      padding-right: 11px;
      margin-left: 0;
    }

    &:last-child {
      margin-top: 8px;

      @include vp-1365 {
        display: none;
      }
    }
  }
}

.gym__image {
  width: 660px;

  @include vp-1365 {
    width: 100%;
    margin: 0;
    margin-top: 36px;
  }

  @include vp-767 {
    margin-top: 50px;
  }

  img {
    width: 100%;
  }
}
