
.header {
  width: 100%;
  background: $blue-red-gradient;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: $color-default-white;
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: end;

  @include vp-767 {
    width: 160px;
  }
}

.header__phone {
  padding: 30px 0;
  padding-left: 10px;
  color: $color-default-white;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;

  @include hover-focus {
    color: $resolution-blue;
  }

  @include active {
    color: $sapphire;
    text-decoration: underline;
  }

  &--disabled {
    opacity: 0.5;
  }

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    padding: 16px 0;
  }
}

.header__logo img {
  width: 120px;
  height: 26px;

  @include vp-1365 {
    width: 111px;
    height: 24px;
  }

  @include vp-767 {
    max-width: 102px;
    height: 22px;
  }
}

.header__link {
  @include hover-focus {
    opacity: 0.7;
  }

  @include active {
    opacity: 0.4;
  }
}
