.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 440px;
  column-gap: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  transform: translate(-9px, 1px);

  @include vp-1365 {
    min-width: 400px;
    column-gap: 10px;
    transform: translate(-4px, 1px);
  }

  @include vp-767 {
    min-width: 100%;
    column-gap: 15px;
    row-gap: 20px;
    align-items: start;
    line-height: 20px;
    margin: 30px 0 55px;
  }
}

.menu__link {
  position: relative;
  color: $color-default-white;
  padding: 5px 10px;
  outline: none;

  @include focus {
    box-shadow: inset 0 0 0 1px $color-default-white;
  }

  @include hover-focus {
    box-shadow: inset 0 0 0 1px $color-default-white;
  }

  @include hover {
    box-shadow: none;

    &::after {
      position: absolute;
      content: "";
      width: 78%;
      height: 1px;
      background-color: $color-default-white;
      bottom: 0;
      left: 11%;
      z-index: 10;
    }
  }

  @include active {
    box-shadow: none;

    &::after {
      display: none;
    }
  }

  &--disabled {
    box-shadow: none;
    opacity: 0.4;

    &::after {
      display: none;
    }
  }
}
