.review {
  display: flex;
  gap: 30px;
  width: 100%;
  min-height: 259px;
  background-color: $resolution-blue;
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);
  color: $color-default-white;
  padding: 60px;

  @include vp-1365 {
    min-height: 249px;
    padding: 60px 65px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-height: 328px;
    padding: 30px 25px;
  }
}

.review__text {
  display: flex;
  flex-direction: column;
  gap: 21px;

  @include vp-1365 {
    gap: 13px;
  }

  @include vp-767 {
    gap: 16px;
  }

  span {
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;

    @include vp-1365 {
      font-size: 20px;
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 18px;
      text-align: center;
    }
  }

  p {
    margin: 0;

    @include vp-767 {
      text-align: center;
      font-size: 14px;
      line-height: 22px;
    }

    br {
      display: none;

      @include vp-1365 {
        display: block;
      }

      @include vp-767 {
        display: none;
      }
    }
  }
}

.review__image {
  img {
    max-width: 80px;
    height: 80px;
    border-radius: 50%;

    @include vp-767 {
      max-width: 68px;
      height: 68px;
    }
  }
}
