.social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 150px;

  @include vp-767 {
    align-self: center;
    transform: translate(5px, -1px);
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-default-white;
  color: $black-russian;
  outline: none;

  &:not(.social__link--disabled) {
    @include hover-focus {
      background-color: $egyptian-blue;
      color: $color-default-white;
    }

    @include active {
      background-color: $black-russian;
      color: $color-default-white;
    }
  }

  &--disabled {
    background-color: rgba(255, 255, 255, 0.3);
    color: $black-russian;
    cursor: default;
  }

  svg {
    max-width: 14px;
    max-height: 14px;
  }
}
