.subscription-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 58px 10px;
  background-color: $color-default-white;
  cursor: default;

  @include vp-1365 {
    padding: 58px 20px;
    width: 426px;
  }

  @include vp-767 {
    padding: 43px 5px;
    width: calc(100% - 14px);
  }

  &--active {
    .subscription-card__link {
      background: $red-blue-gradient;
      color: $color-default-white;
      box-shadow: none;
    }

    &::before {
      position: absolute;
      content: "";
      width: calc(100% + 14px);
      height: calc(100% + 14px);
      background: $bg-gradient;
      z-index: -1;
      top: -7px;
      left: -7px;
    }
  }

  &:focus-within {
    &::before {
      position: absolute;
      content: "";
      width: calc(100% + 14px);
      height: calc(100% + 14px);
      background: $bg-gradient;
      z-index: -1;
      top: -7px;
      left: -7px;
    }
  }

  @include hover-focus {
    .subscription-card__link {
      background: $red-blue-gradient;
      color: $color-default-white;
      box-shadow: none;

      @include active {
        background: $red-blue-gradient;
        color: rgba($color-default-white, 0.7);
        box-shadow: none;
      }
    }

    &::before {
      position: absolute;
      content: "";
      width: calc(100% + 14px);
      height: calc(100% + 14px);
      background: $bg-gradient;
      z-index: -1;
      top: -7px;
      left: -7px;
    }
  }
}

.subscription-card__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-bottom: 8px;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.subscription-card__text {
  margin-bottom: 12px;

  @include vp-1365 {
    margin-bottom: 18px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
  }
}

.subscription-card__price-container {
  position: relative;
  top: 1px;
  left: 0;
  font-family: $ff-placeholder;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  color: rgb(232, 232, 232, 0.48);
  margin: 0;
  margin-bottom: 31px;
  user-select: none;

  @include vp-1365 {
    margin-bottom: 18px;
  }

  @include vp-767 {
    font-size: 80px;
    line-height: 120px;
    top: -2px;
  }
}

.subscription-card__price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  top: 54px;
  bottom: 6px;
  left: 19px;
  right: 18px;
  color: $egyptian-blue;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  margin: 0;

  @include vp-767 {
    top: 44px;
    bottom: 4px;
    left: 15px;
    right: 15px;
    font-size: 48px;
    line-height: 72px;
    gap: 10px;
  }

  svg {
    max-width: 30px;
    max-height: 42px;

    @include vp-767 {
      max-width: 24px;
      max-height: 33px;
      margin-left: -1px;
    }
  }
}

.subscription-card__link {
  width: 205px;
}
