@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Alumnisans";
  font-display: swap;
  src: url("../fonts/alumnisans/alumnisans-600.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Alumnisans";
  font-display: swap;
  src: url("../fonts/alumnisans/alumnisans-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Alumnisans";
  font-display: swap;
  src: url("../fonts/alumnisans/alumnisans-800.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto-condensed";
  font-display: swap;
  src: url("../fonts/roboto-condensed/roboto-condensed-300.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto-condensed";
  font-display: swap;
  src: url("../fonts/roboto-condensed/roboto-condensed-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto-condensed";
  font-display: swap;
  src: url("../fonts/roboto-condensed/roboto-condensed-700.woff2") format("woff2");
}
