// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$egyptian-blue:                     #103aae;
$sapphire:                          #102654;
$torch-red:                         #ed0233;
$resolution-blue:                   #1c3374;
$black-russian:                     #030a1a;
$crimson:                           #d10a42;

// Gradient

$blue-red-gradient:                 linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.76%, #73184b 75.5%, #b4022a 100%);
$red-blue-gradient:                 linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
$bg-gradient:                       linear-gradient(142deg, #d10a42, #00359f);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

$ff-alumnisans:                     "Alumnisans", "Arial", sans-serif;

$ff-placeholder:                    "Roboto-condensed", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1366:                           1366px;
